@import url('https://fonts.googleapis.com/css?family=Nunito:700,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%reset-button {
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  overflow: visible;

  width: auto;
  margin: 0;
  padding: 0;
  /* inherit font & color from ancestor */

  color: inherit;
  border: none;
  background: transparent;
  /* Corrects font smoothing for webkit */

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

:root {
  font-family: Nunito;
  font-weight: 700;

  // height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100);
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100%;

  background-color: pink;
}

button {
  outline: none;

  @extend %reset-button;
}

.feeling-list {
  display: flex;
  overflow: scroll;
  flex-direction: column-reverse;

  background-color: brown;

  flex-grow: 1;
}

.feeling {
  display: inline-block;

  margin: 4px;
  padding: 10px;
  padding-right: 21px;

  cursor: pointer;

  color: white;
  border-radius: 50px;
  background-color: lightcoral;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);

  &:hover {
    background-color: lightsalmon;
  }

  &__label {
    font-size: 16px;

    text-shadow: 0 0 1px rgba(0,0,0,.3);
  }

  &__close-button {
    $size: 30px;

    width: $size;
    height: $size;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 50px;
    background-color: black;

    &:hover {
      background-color: gray;
    }
  }
}

.heading {
  background-color: red;

  &__title {
    text-align: center;
  }
}

.buttons {
  background-color: green;
}

.back-button,
.share-button {
  display: inline-block;

  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;

  border-radius: 60px;
  background-color: #f1c40f;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);;
}
