@import url('https://fonts.googleapis.com/css?family=Nunito:700,800');

%reset-button {
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  overflow: visible;

  width: auto;
  margin: 0;
  padding: 0;
  /* inherit font & color from ancestor */

  color: inherit;
  border: none;
  background: transparent;
  /* Corrects font smoothing for webkit */

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

:root {
  font-family: Nunito;
  font-weight: 700;
}

button {
  outline: none;

  @extend %reset-button;
}

html,
body,
#root,
main,
.wrapper {
  height: 100%;
}

main {
  display: table;

  width: 100%;
}

.feeling-list {
  display: table-cell;

  width: 100%;
  height: 100%;

  text-align: right;
  vertical-align: middle;
}

.feeling {
  display: inline-block;

  margin: 4px;
  padding: 10px;
  padding-right: 21px;

  cursor: pointer;

  color: white;
  border-radius: 50px;
  background-color: lightcoral;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);

  &:hover {
    background-color: lightsalmon;
  }

  &__label {
    font-size: 16px;

    text-shadow: 0 0 1px rgba(0,0,0,.3);
  }

  &__close-button {
    $size: 30px;

    width: $size;
    height: $size;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 50px;
    background-color: black;

    &:hover {
      background-color: gray;
    }
  }
}

.selected-feelings {
  display: table-row;
}

.back-button,
.share-button {
  position: fixed;
  bottom: 0;

  display: block;

  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;

  border-radius: 60px;
  background-color: #f1c40f;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);;
}

.share-button {
  left: 50%;

  transform: translateX(-50%);

  background-color: #e67e22;
}
